/* Названия машин под фото (index.html)*/
.title {
    text-align: center;
}

/* Отступы между строками Form (create.html) */
.form-group,
.form-btn {
    margin-bottom: 1em;
}


/* Стиль Input (index.html, create.html) */
.form-input,  /*в mine*/
.form-input-sm  /*в header*/{
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    outline: none;
    /* удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
}

/* Как правильно написать вместо "Стиль Input" (create.html) портянки выше написаной??? */
/* .form-input {
    form-select;
} */

/* Модальное окно Рамка вокруг фото*/
.modal-body .row {
    border: 1px solid silver;
}

/* Модальное окно Размер фото */
.modal-body img {
    width: 100%;
}